<div class="app-space-horizontal">
  <p-button
    icon="pi pi-search"
    [rounded]="true"
    [raised]="true"
    pTooltip="Búsqueda avanzada"
    severity="primary"
    (onClick)="onOpenSearchDrawer()"
  />
  <p-button
    icon="pi pi-table"
    [rounded]="true"
    [raised]="true"
    pTooltip="Búsqueda tabular"
    severity="primary"
    (onClick)="onOpenSearchTabularDrawer()"
  />
  <p-button
    icon="pi pi-sitemap"
    [rounded]="true"
    [raised]="true"
    pTooltip="Capas"
    severity="primary"
    (onClick)="onOpenLayerDrawer()"
  />
  <p-button
    icon="pi pi-globe"
    [rounded]="true"
    [raised]="true"
    pTooltip="Servicios externos"
    severity="primary"
    (onClick)="onOpenWmsLayerDrawer()"
  />
  <p-button
    icon="pi pi-map"
    [rounded]="true"
    [raised]="true"
    pTooltip="Capas base"
    severity="primary"
    (onClick)="onOpenBaseLayerDrawer()"
  />
  <p-button
    icon="pi pi-compass"
    [rounded]="true"
    [raised]="true"
    pTooltip="Localización"
    severity="primary"
    (onClick)="onOpenLocationDrawer()"
  />
  <p-button
    icon="pi pi-thumbtack"
    [rounded]="true"
    [raised]="true"
    pTooltip="Vistas"
    severity="primary"
    (onClick)="onOpenViewDrawer()"
  />
  <p-button
    icon="pi pi-comments"
    [rounded]="true"
    [raised]="true"
    pTooltip="Asistente virtual"
    severity="primary"
    (onClick)="onOpenChatbotDrawer()"
  />
  <p-button
    icon="pi pi-share-alt"
    [rounded]="true"
    [raised]="true"
    pTooltip="Compartir"
    severity="primary"
    (onClick)="onShare()"
  />
</div>
