<div class="app-container">
  <div class="app-header">
    <img
      class="app-logo"
      src="img/logo_vivienda.png"
      alt="Logo"
    />
    <div class="app-header-divider"></div>
  </div>
  <div class="main-container">
    <app-map-sidebar></app-map-sidebar>
    <div class="map-container">
      <app-map></app-map>
    </div>
  </div>
</div>

<app-search-drawer></app-search-drawer>
<app-search-tabular-drawer></app-search-tabular-drawer>
<app-view-drawer></app-view-drawer>
<app-base-layer-drawer></app-base-layer-drawer>
<app-chatbot-drawer></app-chatbot-drawer>
<app-wms-layer-drawer></app-wms-layer-drawer>
<app-location-drawer></app-location-drawer>
<app-layer-drawer></app-layer-drawer>
<app-layer-info-drawer></app-layer-info-drawer>
<app-layer-property-drawer></app-layer-property-drawer>
<app-layer-legend-drawer></app-layer-legend-drawer>
<app-summary-drawer></app-summary-drawer>
<app-graph-drawer></app-graph-drawer>
<app-tendency-drawer></app-tendency-drawer>
