<div class="app-space-vertical">
  <div>
    <p-button
      label="Agregar usuario"
      icon="pi pi-plus"
      (click)="onOpenForm()"
    ></p-button>
  </div>
  <p-table
    #table
    dataKey="id"
    size="small"
    showGridlines
    stripedRows
    paginator
    [value]="users"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 20, 50]"
    [globalFilterFields]="['name']"
  >
    <ng-template pTemplate="caption">
      <div class="app-right">
        <p-iconfield iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            placeholder="Buscar"
            (input)="onSearch($event, table)"
          />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th [style]="{ width: '10rem' }">Acciones</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-user
    >
      <tr>
        <td>{{ user.name }}</td>
        <td
          class="app-space-horizontal"
          [style]="{ width: '10rem' }"
        >
          <p-button
            icon="pi pi-pencil"
            class="p-button-rounded p-button-outlined"
            [style]="{ width: '2rem', height: '2rem' }"
            (click)="onOpenForm(user.id)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            class="p-button-rounded p-button-outlined"
            [style]="{ width: '2rem', height: '2rem' }"
            (click)="onDelete(user.id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-toast></p-toast>
<p-confirm-dialog></p-confirm-dialog>
