<div class="file-upload-container">
  <p-fileUpload
    mode="advanced"
    [multiple]="multiple"
    [accept]="accept"
    [maxFileSize]="maxFileSize"
    [auto]="false"
    [showUploadButton]="false"
    [showCancelButton]="false"
    [chooseLabel]="label"
    chooseIcon="pi pi-upload"
    [disabled]="disabled"
    (onSelect)="onFileSelect($event)"
    (onRemove)="onRemoveFile()"
  >
    <ng-template pTemplate="content">
      @if (!uploadedFile) {
      <div class="upload-area">
        <i class="pi pi-cloud-upload upload-icon"></i>
        <p class="upload-text">{{ placeholder }}</p>
          <p class="upload-hint">{{ hint }}</p>
        </div>
      }

      @if (uploadedFile) {
      <div class="file-info">
        <div class="file-details">
          <i class="pi pi-file file-icon"></i>
          <div class="file-text">
            <span class="file-name"> {{ uploadedFile.name }}{{ getFileCount() }} </span>
              <span class="file-size">{{ getFileSize() }}</span>
            </div>
          </div>
          <button
            type="button"
            class="remove-button"
            (click)="onRemoveFile()"
            [disabled]="disabled"
          >
            <i class="pi pi-times"></i>
          </button>
        </div>
      }
    </ng-template>
  </p-fileUpload>
</div>
