<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
>
  <div class="app-form-group">
    <label for="categoryParent">Categoría:</label>
    <p-tree-select
      id="categoryParent"
      formControlName="categoryParent"
      [options]="categoryTree"
      appendTo="body"
      fluid
      showClear
      placeholder="Seleccione una categoría"
    ></p-tree-select>
    @if (
    formGroup.get('categoryParent')?.errors?.['required'] &&
    formGroup.get('categoryParent')?.touched
    ) {
    <small class="app-description-error">La categoría es obligatoria.</small>
    }
  </div>
  <div class="app-form-group">
    <label for="code">Código:</label>
    <input
      id="code"
      type="text"
      pInputText
      formControlName="code"
      placeholder="Ingrese el código"
      [fluid]="true"
    />
    @if (formGroup.get('code')?.errors?.['required'] && formGroup.get('code')?.touched) {
    <small class="app-description-error">El código es obligatorio.</small>
    }
    @if (formGroup.get('code')?.errors?.['pattern']) {
    <small class="app-description-error">
      El código debe contener solo letras, números y guiones bajos.
    </small>
    }
  </div>
  <div class="app-form-group">
    <label for="name">Nombre:</label>
    <input
      id="name"
      type="text"
      pInputText
      formControlName="name"
      placeholder="Ingrese el nombre"
      [fluid]="true"
    />
    @if (formGroup.get('name')?.errors?.['required'] && formGroup.get('name')?.touched) {
    <small class="app-description-error">El nombre es obligatorio.</small>
    }
  </div>
  <div class="app-form-group">
    <label for="description">Descripción:</label>
    <textarea
      id="description"
      pInputTextarea
      formControlName="description"
      placeholder="Ingrese la descripción"
      [rows]="3"
      [cols]="30"
      [autoResize]="true"
      [fluid]="true"
    ></textarea>
    @if (
    formGroup.get('description')?.errors?.['required'] && formGroup.get('description')?.touched
    ) {
    <small class="app-description-error"> La descripción es obligatoria. </small>
    }
  </div>
  <div class="app-form-group">
    <label for="file">SHAPEFILE:</label>
    <p-fileupload
      [url]="fileApiUrl"
      [auto]="true"
      mode="advanced"
      chooseLabel="Seleccionar"
      chooseIcon="pi pi-upload"
      name="file"
      accept="application/zip,application/x-zip-compressed"
      maxFileSize="5242880"
      (onUpload)="onUpload($event)"
      (onError)="onUploadError($event)"
      [disabled]="files.length >= 1"
    >
      <ng-template #content>
        @for (item of files; track item) {
        <div class="file-list-item">
          <span>
            <b>{{ item.name }}</b>
              ({{ item.size | number }} bytes)
            </span>
            <p-button
              icon="pi pi-times"
              severity="danger"
              variant="text"
              (click)="onRemoveFile()"
            ></p-button>
          </div>
        }
      </ng-template>
    </p-fileupload>
    @if (
    formGroup.get('shapeFileName')?.errors?.['required'] &&
    formGroup.get('shapeFileName')?.touched
    ) {
    <small class="app-description-error"> El archivo SHAPEFILE es obligatorio. </small>
    }
  </div>
  <p-button
    label="Guardar"
    icon="pi pi-save"
    type="submit"
    severity="success"
    size="large"
    [disabled]="formGroup.invalid"
    [fluid]="true"
  ></p-button>
</form>
