.admin-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.admin-page {
  margin-top: 1rem;
  background-color: white;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
}
