<p-drawer
  [visible]="(isVisible | async) ?? false"
  position="bottom"
  [style]="{ height: '28rem' }"
  (onHide)="onHide()"
  (onShow)="onDrawerOpen()"
>
  <div class="app-space-vertical">
    <p-fieldset legend="Categorización" [toggleable]="true">
      <form class="row" [formGroup]="formGroup">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
          <div class="app-form-group">
            <label for="categoryParent">Categoría:</label>
            <p-tree-select
              id="categoryParent"
              formControlName="categoryParent"
              [options]="categoryTree"
              appendTo="body"
              fluid
              showClear
              placeholder="Seleccione una categoría"
            ></p-tree-select>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
          <div class="app-form-group">
            <label for="layerId">Capa:</label>
            <p-select
              id="layerId"
              formControlName="layerId"
              [options]="layers"
              optionValue="id"
              optionLabel="title"
              filterBy="label"
              appendTo="body"
              fluid
              filter
              showClear
              placeholder="Seleccione"
            />
          </div>
        </div>
      </form>
    </p-fieldset>
    <p-table
      [value]="data"
      [paginator]="true"
      [rows]="5"
      [rowsPerPageOptions]="[5, 10, 20]"
      [stripedRows]="true"
      [showGridlines]="true"
      size="small"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Acciones</th>
          @for (column of columns; track column) {
            <th>{{ column.name }}</th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-view>
        <tr>
          <td>
            <p-button
              icon="pi pi-eye"
              (onClick)="onShowMap(view)"
              [style]="{ width: '2rem', height: '2rem' }"
            ></p-button>
          </td>
          @for (column of columns; track column) {
            <td>{{ view[column.original] }}</td>
          }
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-drawer>
