<div class="app-space-horizontal">
  <p-button
    icon="pi pi-images"
    [rounded]="true"
    [raised]="true"
    severity="primary"
    pTooltip="Leyenda"
    (click)="onOpenLegendDrawer()"
  />
  <p-button
    icon="pi pi-list"
    [rounded]="true"
    [raised]="true"
    severity="primary"
    pTooltip="Capas activas"
    (click)="onOpenLayerInfoDrawer()"
  />
  <!-- <p-button
    icon="pi pi-palette"
    [rounded]="true"
    [raised]="true"
    severity="primary"
    pTooltip="Herramientas de dibujo"
  /> -->
</div>
